body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}
#gameboard {
  width: 50%;
  height: 30%;
  margin: 0 auto;
}
.box {
  width: 30%;
  border: 2px solid black;
  display: inline-block;
  background-color: orange;
  margin: 0px;
  padding: 0px;
}
.box::after {
  content: '';
  display: block;
  margin-top: 70%;
}
h1 {
  color: orange;
  text-align: center;
  font-size: 3em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
article {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
#player-one, #player-two {
  margin: 10px auto;
  width: 70%;
  text-align: center;
}
.submit {
	display: block;
	border: 1px solid black;
	margin: 2% auto;
	font-size: 24px;
	background-color: yellow;
	border-radius: 20%;
}
.submit:hover {
	display: block;
	border: 1px solid black;
	text-align: center;
	margin: 2% auto;
	background-color: orangered;
	cursor: pointer;
}
